* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #7f469a;
  box-shadow: 0px -1px 8px 0px #444;
}

nav > button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  color: #7f479a;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 1px 1px 5px 0px #444;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
}

nav > button:hover {
  cursor: pointer;
  background: #7f479a;
  color: #fff;
}

main {
  flex: 1 1 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}



/*inclusao css*/

.intro-conteudo{
    background-color: white;
    /*margin: 0 auto;*/
    padding: 20px;
    text-align: center;
    max-width: 500px;
  
     /*esconde form para ser chamado depois dinamicamente pelo javascript*/
    /*display: none; */
    /*como a div fundo deslocou o form precisa arrumar*/
    /*left: 50%;
    top: 50%;
    position: relative;
    transform: translate3d(-50%, -50%, 0);*/
    /*alteracao com login tela errada, mudar animacao*/
    margin: auto;


}
.intro-conteudo >img{
  width: 100px;
}

.input_do_form{
  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 14px;
  border-color: #7f479a;
}

#botao_fechar{
   color: #7f479a;
   border: none;
   background-color: transparent;
   position: absolute;   /*o botão tem posição absoluta em relação ao modal.*/
   top: 10px;
   right: 10px;
}

/*#modal.visivel{   //retirou pq fundo altera mdoal
  display: block;
}*/

#fundo{
  position: fixed;   /*a position desloca a posição do formulario que está dentro (modal) e é posicionado de forma relativa ao fundo*/

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  display: none; /*esconde form depois de colocar fundo, para ser chamado depois dinamicamente pelo javascript*/
}

#fundo.visivel{
  /*animacao login errado*/
  /*display: block;*/ 
  display: flex;
}


 #player{
  display:flex;
  background: rgba(0,0,0,.4);
  text-align: center;
 }
.player-tempo{
  display: flex;
  align-items: center;
    
}
.player-tempo span{
  margin: 0 8px
}
.musica {
  flex-grow: 1;
}
.player-barra{
  flex-grow: 1;
  height: 4px;   /*mesma altura da barra tocado*/
  background: #777;
 
}
.tocado{
  background: #fff;
  /*width: 30%;*/
  height: 4px; /*mesma altura da barr player*/
}

.botao-play{
  background: none;
  border: none;
}
.erro{  /*colocar animação tela de login errado.*/
 border: 1px solid red;
 animation: shake 0.2s; /*animação tempo e pode-se colocar o numero de repetiçoes da animacao*/
}

@keyframes shake{
  0%{
    transform: none;
  }
  33%{
    transform: translateX(-5px);
  }
  66%{
    transform: translateX(5px);
  }
  100%{
    transform: none;
  }


}

